#category{
    list-style: inherit;
    background-color: black;
    font-size: 1rem;
    color: cornsilk;
    justify-content: left;
    text-align: left;
    align-items: left;
    margin-left: 0;
    display: flex;
    border: inherit;
    

}