.counter {
  
  text-align: center;
  align-items: "center";
  margin: "1rem 0";
  border: 1px solid black;
  box-sizing: border-box;
  
  padding: 1rem;
  margin: 1rem;
  display: inline-flex
  
}

.counter > p{
    text-align: center;

}
button{
  size: 2rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;

}
